{% extends "basic.html" %}
{% block body %}
<h1>Willkommen @Pastebucket</h1>
Wie du siehst hat sich Pastebucket komplett ver&auml;ndert.<br />
Es ist auch noch lange nicht fertig und ist in aktiver Entwicklung.<br /><br />
Folgendes hat sich bereits ge&auml;ndert:<br />
	<br/><b>Webseite</b>
		<ul>
			<li>-	 Design (Das neue, nur noch Teilweise an das Alte erinnernde, Design)</li>
			<li>-	 Mehr Funktionen (Teilweise schon integriert, PDF Konvertierung)</li>
			<li>-	 API geplant.</li>
		</ul>
		<br /><br />
		<b>System</b>
		<ul>
			<li>-	 Nun zu 100%(!) Python. (+Javascript)</li>
			<li>-	 Flask Webframework</li>
		</ul>
		<br /><br />
		Aber das war noch lange nicht alles.
		<br />
		Wieso verfasst du nicht einen <a href="/paste/create">Paste</a>?
{% endblock %}